*{
    padding: 0;
    margin: 0;
    outline: none;
}
body{
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
li{list-style: none;}
object{pointer-events: none;}
%setposition{
    margin: 0 auto;
    width: 1160px;
    position: relative;
}
%center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    background: #eceef4;
    width: 100%;
    height: 63px;
    position: fixed;
    z-index: 100;
    top: 0;
    .header__menu{
        display: none;
        color: #6d6e71;
        position: relative;
        margin: 0 auto;
        top: 0;
        height: 63px;
        .header__menu-logo{
            width: 100%;
            height: 63px;
            cursor: pointer;
            div{
                top: calc((63px - 16px) / 2);
                left: 20px;
                position: absolute;
                height: 16px;
                span{
                    &:first-child{margin-top: 0;}
                    width: 25px;
                    height: 2px;
                    border-radius: 1px;
                    margin-top: 5px;
                    background: #6d6e71;
                    display: block;
                }
            }
            &.active{
                div{
                    top: calc((63px - 4px) / 2);
                    span{
                        &:first-child{transform: rotate(45deg);}
                        &:nth-child(2){transform: rotate(-45deg);margin-top: -2px;}
                        &:last-child{display: none;}
                    }
                }
            }
            p{
                position: absolute;
                right: 20px;
                line-height: 63px;
                font-size: 24px;
                font-weight: 700;
            }
            &:active{background: #fff;}
        }
        .header__menu-content{
            background: #fff;
            width: 100%;
            height: auto;
            position: absolute;
            top: 63px;
            font-size: 24px;
            border: 1px solid #e1e1e1;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            .header__buttons-list{
                ul{
                    li{
                        width: 100%;
                        height: 60px;
                        padding: 10px 20px;
                        display: flex;
                        align-items: center;
                        span{margin-left: 40px;}
                    }
                }
            }
            .header__social-list{
                ul{
                    li{
                        float: left;
                        height: 60px;
                        @extend %center;
                        border-right: 1px solid #dee0e6;
                        &:last-child{border:0;}
                        &:active{background: #dee0e6;}
                    }
                }
            }
        }
    }
    .header__content{
        @extend %setposition;
        height: 100%;
        font-size: 12px;
        color: #6d6e71;
        .header__menu-buttons{
            width: 410px;
            height: 100%;
            ul{
                padding-top: 16px;
                li{
                    height: 32px;
                    width: 98px;
                    background: #fff;
                    float: left;
                    margin-right: 5px;
                    border-radius: 2px;
                    font-weight: 700;
                    line-height: 32px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    &:last-child{margin-right: 0;}
                    object{margin-left: 8px;}
                    &:hover{color: #2171af;}
                    &:first-child span{margin-left: 23px;}
                    &:nth-child(2) span{margin-left: 21px;}
                    &:nth-child(3) span{margin-left: 13px;}
                    &:last-child span{margin-left: 17px;}
                }
            }
        }
        .header__social{
            position: absolute;
            right: 0;
            top: 0;
            ul{
                li{
                    @extend %center;
                    cursor: pointer;
                    float: left;
                    width: 65px;
                    height: 63px;
                    border: 1px solid #dee0e6;
                    border-top: none;
                    border-bottom: 0;
                    transition: .2s linear;
                    &:hover{background: #dee0e6;}
                }
            }
        }
    }
}
.img{
    position: absolute;
    width: 100%;
    top: 63px;
    left: 0;
    img{
        width: 100%;
        height: 885px;
        // max-height: 885px;
    }
}
.slider{
    @extend %setposition;
    margin-top: 63px;
    color: #fff;
    .slider__text{
        text-shadow: -1px 0px 8px rgba(1, 1, 1, 0.15);
        .slider__big-text,.slider__smalltext{position: relative; z-index: 2;}
        .slider__big-text{
            font-size: 58.35px;
            font-weight: 700;
            margin-left: 199px;
            margin-top: 265px;
        }
        .slider__small-text{
            font-weight: 300;
            font-size: 45px;
            margin-left: 304px;
            margin-top: -10px;
        }
        .slider__symbol{
            position: absolute;
            left: 209px;
            top: 28px;
            z-index: 1;
        }
    }
    .slider__content{
        width: 755px;
        height: 241px;
        margin-top: 146px;
        margin-left: 405px;
        .slider__list{
            display: flex;
            flex-direction: row;
            .slider__item{
                width: 322px;
                height: 100%;
                .slider__item-like{
                    position: absolute;
                    margin-top: -65px;
                    width: 322px;
                    cursor: pointer;
                    &:hover{.slider__like-icon svg{transform: scale(1.05);}}
                    .slider__like-cover{
                        background: #89c94f;
                        opacity: 0.93;
                        height: 65px;
                        width: 322px;
                        &.c2{background: #feeb75;}
                    }
                    .slider__like-icon{
                        position: relative;
                        z-index: 2;
                        @extend %center;
                        height: 65px;
                        margin-top: -65px;
                        span{
                            margin-left: 12px;
                            font-size: 14px;
                            font-weight: 600;
                            &.c2{color: #cc9800;}
                        }
                        svg{transition: .2s linear;}
                    }
                }
            }
        }
        .slider__next{
            background: #f4f4f4;
            width: 111px;
            height: 241px;
            position: absolute;
            margin-top: -241px;
            margin-left: calc(322px * 2);
            @extend %center;
            cursor: pointer;
        }
    }
}
.about{
    height: 445px;
    @extend %setposition;
    margin-top: 198px;
    display: flex;
    flex-direction: row;
    .about__block{
        color: #6d6e71;
        &:first-child{
            width: 567px;
            .about__block-text{
                margin-left: calc(106px + 33px);
            }
        }
        &:last-child{
            width: 516px;
            margin-left: 77px;
            .about__block-text{
                margin-left: calc(95px + 32px);
                span:first-child{margin-bottom: 28px; margin-top: -3px;}
            }
        }
        .about__block-text{
            width: 390px;
            text-align: justify;
            position: absolute;
            margin-top: calc(-113px + 20px);
            span{
                &:first-child{
                    font-size: 26px;
                    font-weight: 700;
                    display: block;
                    margin-bottom: 28px;
                }
                &:last-child{
                    font-size: 16px;
                    font-weight: 300;
                }
            }
        }
    }
}
.map{
    %default{
        box-shadow: 0px 0px 40px 0px rgba(1, 1, 1, 0.13);
        border-radius: 10px;
        background: #fff;
        border: 1px solid #dfdfdf;
    }
    width: 100%;
    height: 500px;
    position: relative;
    .aligning{
        @extend %setposition;
        .map__info-table{
            @extend %default;
            border-radius: 5px;
            z-index: 5;
            width: 225px;
            height: 80px;
            position: absolute;
            bottom: 139px;
            margin-left: 393px;
            color: #6d6e71;
            font-weight: 300;
            transition: .2s ease-in-out;
            &:before{
                content: '';
                background: #fff;
                width: 11px;
                height: 11px;
                transform: rotate(45deg);
                box-shadow: 0px 0px 40px 0px rgba(1, 1, 1, 0.13);
                border-radius: 2px;
                position: absolute;
                left: calc((225px - 11px) / 2);
                top: calc(80px - 5.5px);
                z-index: 1;
                display: block;
                border-right: 1px solid #dfdfdf;
                border-bottom: 1px solid #dfdfdf;
            }
            span{
                display: block;
                margin: 0 auto;
                margin-top: 22px;
                width: 175px;
                max-height: 55px;
                overflow: hidden;
                font-size: 16px;
            }
            &.v1{margin-left: 393px;}
            &.v2{margin-left: calc(393px + 65px + 12px + 2px);}
            &.v3{margin-left: calc(393px + (65px + 12px + 2px)*2);}
        }
        .map__buttons{
            display: flex;
            flex-direction: row;
            position: absolute;
            bottom: 71px;
            margin-left: 475px;
            div{
                width: 65px;
                height: 65px;
                @extend %center;
                @extend %default;
                margin-right: 12px;
                cursor: pointer;
                &.active{
                    background: #1fa9e0;
                    border: 0;
                    svg{fill:#fff;}
                }
                svg{fill:#6c6d70;}
            }
        }
    }
}
.footer{
    width: 100%;
    background: #2b2c2d;
    $textcolor: #6b6f71;
    .content{
        @extend %setposition;
        height: 260px;
        .footer__social{
            position: absolute;
            margin-top: 77px;
            ul{
                li{
                    float: left;
                    border-left: 1px solid #414344;
                    border-right: 1px solid #414344;
                    width: 65px;
                    height: 65px;
                    @extend %center;
                    cursor: pointer;
                    transition: .2s ease-in-out;
                    svg{fill: #414344;}
                    &:hover{
                        background: #414344;
                        svg{fill: #e1e1e1;}
                    }
                }
            }
        }
        .footer__mailbox{
            position: absolute;
            right: 0;
            top: 83px;
            input[type=text]{
                width: 595px;
                height: 65px;
                background: url(/icons/mailbox.svg) no-repeat #393b3c;
                background-position: 20px;
                font-size: 14px;
                font-weight: 700;
                padding-left: 85px;
                border-radius: 10px;
                border: 0;
                color: $textcolor;
                &::placeholder{font-family: 'Open Sans';color: $textcolor;}
                &:focus{
                    background-image: url(/icons/mailbox2.svg);
                    color: #d1d1d1;
                }
            }
            button{
                width: 77px;
                height: 45px;
                border-radius: 10px;
                position: absolute;
                margin-left: calc(-77px - 8px);
                margin-top: 10px;
                background: #494c4d;
                border: 0;
                font-family: 'Open Sans';
                color: $textcolor;
                font-size: 14px;
                font-weight: 700;
                cursor: pointer;
                &:active{padding-top: 2px;}
                &:hover{color:#e1e1e1;}
            }
        }
        .footer__copyright{
            color: $textcolor;
            font-size: 13px;
            font-weight: 300;
            position: absolute;
            bottom: 30px;
        }
        .footer__links{
            position: absolute;
            bottom: 30px;
            right: 0;
            ul{
                li{
                    &:first-child{list-style: none;}
                    list-style: disc;
                    float: left;
                    color: $textcolor;
                    margin-left: 20px;
                    font-size: 13px;
                    cursor: pointer;
                    &:hover{text-decoration: underline;}
                }
            }
        }
    }
}
@media(max-width: 1279px) and (min-width: 541px){
    $width: 540px;
    %setpos3{
        margin: 0 auto;
        position: relative;
        width: $width;
    }
    .header{
        .header__content{display: none;}
        .header__menu{
            display: inherit;
            width: $width;
            ul{li{width: calc((#{$width} / 4) - 0.75px);}}
        }
    }
    .img{
        img{    
            height: 655px;
            object-fit: cover;
        }
    }
    .slider{
        width: 100%;
        .slider__text{
            @extend %setpos3;
            .slider__big-text{
                font-size: 62px;
                margin-left: 0;
                margin-top: 233px;
                text-align: center;
                line-height: 115%;
            }
            .slider__small-text{
                margin-left: 95px;
                font-size: 45px;
            }
            .slider__symbol{
                left: 115px;
                top: 0px;
                svg{width: 44px;}
            }
        }
        .slider__content{
            width: 100%;
            margin-left: 0;
            position: absolute;
            left: 0;
            margin-top: 60px;
            .slider__list{
                .slider__item{
                    width: 50vw;
                    .slider__item-image img{
                        width: 50vw;
                        height: 30vh;
                    }
                    .slider__item-like{
                        width: 50vw;
                        .slider__like-cover{width: 50vw;}
                        .slider__like-icon{span{font-size: 22px;}}
                    }
                }
            }
            .slider__next{display: none;}
        }
    }
    .about{
        margin-top: calc(30vh + 150px);
        flex-direction: column;
        height: auto;
        margin-bottom: 50px;
        @extend %setpos3;
        .about__block{
            width: 100% !important;
            .about__block-text{
                position: relative;
                span:first-child{font-size: 36px;}
                span:last-child{font-size: 24px;}
            }
            &:first-child{
                .about__block-text{
                    width: calc(#{$width} - 106px - 20px);
                }
            }
            &:last-child{
                margin-left: 0;
                .about__block-text{
                    width: calc(#{$width} - 95px - 20px);
                }
            }
        }
    }
    .map{
        height: 500px;
        iframe{height: 500px;}
        .aligning{
            @extend %setpos3;
            z-index: 100;
            .map__info-table{
                margin-left: 72.5px;
                &.v1{margin-left: 72.5px;}
                &.v2{margin-left: calc(72.5px + 65px + 12px + 2px);}
                &.v3{margin-left: calc(72.5px + (65px + 12px + 2px)*2);}
                span{font-size: 18px;}
            }
            .map__buttons{margin-left: 152.5px;}
        }
    }
    .footer{
        .content{
            @extend %setpos3;
            height: 350px;
            .footer__social{
                margin-left: 96px;
                margin-top: 45px;
                ul{
                    li{
                        width: 85px;
                        height: 85px;
                    }
                }
            }
            .footer__mailbox{
                top: 160px;
                input[type=text]{
                    width: $width;
                    height: 70px;
                    font-size: 16px;
                    padding-left: 65px;
                    padding-right: 70px;
                }
                button{
                    width: 100px;
                    font-size: 16px;
                    margin-left: calc(-100px - 8px);
                    margin-top: 12.5px;
                }
            }
            .footer__links{
                width: $width;
                top: 280px;
                ul{
                    li{
                        font-size: 18px;
                        margin-left: 40px;
                    }
                }
            }
            .footer__copyright{
                bottom: 5px;
                left: 79px;
                font-size: 16px;
            }
        }
    }
}
@media(max-width: 540px){
    $width: 320px;
    %setpos2{
        margin: 0 auto;
        position: relative;
        width: $width;
    }
    .header{
        .header__content{display: none;}
        .header__menu{
            display: inherit;
            width: $width;
            .header__menu-content{
                .header__social-list{
                    ul{li{width: calc((#{$width} / 4) - 0.75px);}}
                }
            }
        }
    }
    .img{
        img{    
            height: 655px;
            object-fit: cover;
        }
    }
    .slider{
        width: 100%;
        .slider__text{
            @extend %setpos2;
            .slider__big-text{
                font-size: 48px;
                margin-left: 0;
                margin-top: 233px;
                text-align: center;
                line-height: 115%;
            }
            .slider__small-text{
                margin-left: 25px;
                font-size: 37px;
            }
            .slider__symbol{
                left: 35px;
                top: -5px;
                svg{width: 44px;}
            }
        }
        .slider__content{
            width: 100%;
            margin-left: 0;
            position: absolute;
            left: 0;
            margin-top: 90px;
            .slider__list{
                .slider__item{
                    width: 50vw;
                    .slider__item-image img{
                        width: 50vw;
                        height: 25vh;
                    }
                    .slider__item-like{
                        width: 50vw;
                        .slider__like-cover{width: 50vw;}
                    }
                }
            }
            .slider__next{display: none;}
        }
    }
    .about{
        margin-top: calc(25vh + 150px);
        flex-direction: column;
        height: auto;
        margin-bottom: 50px;
        @extend %setpos2;
        .about__block{
            width: 100% !important;
            .about__block-text{position: relative;}
            &:first-child{
                .about__block-text{
                    width: calc(#{$width} - 106px - 20px);
                }
            }
            &:last-child{
                margin-left: 0;
                .about__block-text{
                    width: calc(#{$width} - 95px - 20px);
                }
            }
        }
    }
    .map{
        height: 300px;
        iframe{height: 300px;}
        .aligning{
            @extend %setpos2;
            .map__info-table{
                margin-left: -40px;
                &.v1{margin-left: -40px;}
                &.v2{margin-left: calc(-40px + 65px + 12px + 2px);}
                &.v3{margin-left: calc(-40px + (65px + 12px + 2px)*2);}
            }
            .map__buttons{margin-left: 42.5px;}
        }
    }
    .footer{
        .content{
            @extend %setpos2;
            .footer__social{
                margin-left: 26px;
                margin-top: 45px;
            }
            .footer__mailbox{
                top: 130px;
                input[type=text]{
                    width: $width;
                    font-size: 12px;
                    padding-left: 65px;
                    padding-right: 70px;
                }
                button{
                    width: 50px;
                    font-size: 12px;
                    margin-left: calc(-50px - 8px);
                }
            }
            .footer__links{
                width: $width;
                ul{li{font-size: 12px;}}
            }
            .footer__copyright{bottom: 5px;}
        }
    }
}